.categories{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.categories{
    /* margin: 20px; */
    padding: 20px;
}

.categories .title1{
    font-weight: bolder;
    font-size: 28px;    
}

.categories .module>h2{
    margin-bottom: 14px;
}

.categories .container{   
    height: 400px;
    background-image: url("../img/categories/dropbox-google-cloud-header-e1554857290378-796x401.png");
    position: relative;
}

.categories .text{   
    position: absolute;
    bottom: 0; 
    margin: 15px;
    color: white;
}

.categories .t1{
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Ropa Sans', sans-serif;
}
.categories .t2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.categories .t3 {
    font-family: 'Sniglet', cursive;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}