/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*end reset*/

/* ======================================
 
    MediaQuery-Reporter Styles
 
========================================= */

body::after {
    content: "less than 480px";
    font-size: 300%;
    font-weight: bold;
    position: fixed;
    bottom: 10vh;
    width: 100%;
    text-align: center;
    background-color: hsla(1, 60%, 40%, 0.7);
    color: #fff;   
}

@media only screen and (min-width: 480px) {
    body:after {
        content: "480 to 768px";
        background-color: hsla(180, 60%, 40%, 0.7);
    }
}

@media only screen and (min-width: 780px) {
    body:after {
        content: "780 to 1024px";
        background-color: hsla(270, 60%, 40%, 0.7);
    }
}

@media only screen and (min-width: 1024px) {
    body:after {
        content: "1024 to 1113px";
        background-color: rgba(0,0,255, 0.7);
        color:rgba(255,255,255,0,7)
    }
}

@media only screen and (min-width: 1113x) {
    body:after {
        content: "1113 and upx";
        background-color: hsla(90, 60%, 40%, 0.7);
    }
}

/*end reporter*/

/*SET-UP*/
*, *::after, *::before{
    box-sizing: border-box;
}

#main{
    max-width: 1152px;
    margin: 0 auto;
}

/*END SET-UP*/

/*HELPERS*/

.flex-container{
    display:flex;
}
.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.float-left-child > *{
    float: left;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

/*END HELPERS*/

/*HEADER (NAVS)*/

.header-container{
    position: fixed; 
    width: 100%; 
    z-index: 10;
}

header{
    background-color: yellow;    
}

.header-navs{    
    width: 100%;
}

.header-logo{
    min-width: 106px;
    height: 48px;
    overflow: hidden;
}

.header-logo .logo-2{
    display: block;
}

.header-logo .logo-1{
    display: none;
}

@media only screen and (min-width: 768px) {
    .header-logo{
        height: 80px;
    }

    .header-logo .logo-2{
        display: none;
    }
    
    .header-logo .logo-1{
        display: block;
    }
}

.nav-business{
    background-color: black;
    color: white;
    width: 100%;
    max-height: 32px;
    font-size: 13px;
    display: none;
    line-height: 32px;
    font-family: 'Oswald', sans-serif;
}

@media only screen and (min-width: 768px) {
    .nav-business{
        display: block;
    }
}

.nav-business > ul > li{
    display: inline-block;
    margin-left: 20px;
    color: gray;
}

.nav-business > ul > li:first-child{
    color:white;
}


.header-menu{
    width: 100%;
    background-color: white;
    height: 48px;  
}

.header-menu ul{
    align-items: center;
    height: 100%;
    display: none;
    color: gray;
    
}

.header-menu ul > li{
    padding: 0 10px 0;
    font-size: 0.8rem;
    float: left;
}

@media only screen and (min-width: 768px) {
    .header-menu ul{
        display: flex;
    }
}

.flex-justify{
    justify-content: space-between;
}

#timer{
    font-family: 'Play', sans-serif;
    font-size: 18px;    
    color: rgb(255,68,44);
    font-weight: bold;
    margin: 0 auto;
}

@media only screen and (min-width: 480px) {
    #timer{
        font-size: 22px;
        order: 2;
        width: 125px;
        margin: 0;
    }
}
@media only screen and (min-width: 1024px) {
    #timer {
        display: none
    }
    #header-tito>button{
        order:4;
    }
}

@media only screen and (min-width: 1113px) {
    #timer
    {
        display: initial;        
    }
}
#header-tito>button,
#header-tito>span,
#header-tito>#conference
{
    display:none
}

@media only screen and (min-width: 1113px) {
    #header-tito>button,
    #header-tito>span,
    #header-tito>#conference {
        display: block
    }
}

#search-icon{
    font-size: 22px;
    border-left: 1px solid rgb(184, 184, 184);
}

#header-tito{
    align-items: center;
    width: 100%;    
}

#header-tito *:not(#timer){
    margin-right: 10px;   
}

#header-tito button{
    border: none;
    background-color: rgb(0, 163, 168);
    color: white;
    padding: 8px;
    font-size: 10px;
    border-radius: 2px;
}

#header-tito .search-icon{
    width: 48px;
    height: 48px;
}

#header-tito .ham-menu, #search-icon{
    width: 48px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    border-left: 1px solid rgb(190, 190, 190);
    order: 1;
}

@media only screen and (min-width: 1113px) {
    #header-tito .ham-menu, #search-icon{
        order: -1;
    }
}

.ham-menu{
    padding: 12px;
}
@media only screen and (min-width: 768px) {
    .ham-menu {
        display: none;
    }
}


.header-announcement{
    width: 100%;
    background-color: #fd3;
    color:black;
    padding: 10px;
    font-size: 15px;
    
}

/*END HEADER (NAVS)*/


/*
    SEPARATOR
*/

.separator{
    height: 120px;
}

/*  LATEST NEWS */

#latest-news{
    width: 100%;
    padding: 20px;
}

#latest-news > img{
    width: 67px;
    height: 20px;
}

.latest-news-title{
    color: #f42;
    font-size: 40px;
}

#latest-news .row{
    width: 100%;
    flex-wrap: wrap;
}

[class^="col"]{
    width: 100%;
}

@media only screen and (min-width: 768px) {
    #latest-news [class^="col"]{
        width: 33.33%;
        padding: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    #latest-news [class^="col"]{
        width: 25%;
        padding: 10px;
    }
}

[class^="col"] .ln-image-container{
    background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/04/satoshitreasure-480x270.png');
    background-size: cover;
    min-width: 75px;
    height: 75px;
}

@media only screen and (min-width: 768px) {
    [class^="col"] .ln-image-container{
        width: 100%;
        height: 180px;
        padding: 10px;
    }

    [class^="col"]{
        flex-wrap: wrap;
    }
}

[class^="col"] > *{
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

[class^="col"] h2{
    margin-bottom: 5px;
    font-weight: bold;
}

[class^="col"] span{
    margin-right: 10px;
    color: rgb(185, 185, 185);
}

/*  LATEST NEWS END */


/*
    LATEST DEALS
*/

#latest-deals{
    width: 100%;
    padding: 20px;
}

#latest-deals .row{
    width: 100%;
    flex-wrap: wrap;
}


@media only screen and (min-width: 768px) {
    #latest-deals [class^="col"]{
        width: 33.33%;
        padding: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    #latest-deals [class^="col"]{
        width: 25%;
        padding: 10px;
    }
}

.latest-deals-titles{
    width: 100%;
}

.latest-deals-titles img{
    margin-top: 13px;
    margin-left: 7px;
    line-height: 67px;
}

.latest-deals-title{
    color: #f42;
    float: left;
    font-size: 40px;
}


.latest-deals-title{
    float: left;
}

.more-deals{
    color: #f42;
    float: right;
    margin-top: 20px;
}

[class^="col"] .ld-image-container  {
    background-image: url("https://cdnp3.stackassets.com/f7498bf34d6bb3974a46a20dfce64d349fddfdfe/store/1dfb727a86c50b8b1857c1341b83e29c51871532bfee9ac8c88e8780e052/sale_18696_primary_image.jpg");
    background-size: cover;
    min-width: 75px;
    height: 75px;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

@media only screen and (min-width: 768px) {
    [class^="col"] .ld-image-container{
        width: 100%;
        height: 180px;
        padding: 10px;
    }

    [class^="col"]{
        flex-wrap: wrap;
    }
}

.price-drop{
    background-color: #fd3;
    width: 50%;
    height: 50%;
    position: absolute;
    top: -20%;
    right: -25%;
    justify-content: center;
    align-items: flex-end;
    transform: rotate(45deg);
    display: none;
}

@media only screen and (min-width: 768px) {
    .price-drop{
        display: flex;;
    }
}



#prev-price{
    color: rgb(160, 160, 160);
    text-decoration: line-through;
}

#offer-price{
    color: black;
    font-size: 1.2rem;
}

/*

    LATEST DEALS ENDS

*/

.cover{
    height: 20vh;
    background-color: aquamarine
}

.wrapper{
    height: 80vh;
    background-color: red;

    padding: 0px 20px;
    max-width: 1192px;
    margin: 0 auto;
}



/*FOOTER*/

footer{
    background-color: black;
}

.footer-social{
    width: 100%;
    padding-top: 45px;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-social .fa {
    font-size: 18px;
    text-align: center;
    padding-top: 11px;
    text-decoration: none;
    color: white;
    background-color: #333;
    border-radius: 40px;
    width: 40px;
    height: 40px; 
    margin-right: 6px;
    align-items: center;
}

.footer-links{
    margin-top: 30px;
    margin-bottom: 60px;
    width: 100%;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-links a{
    color: #AAAAAA;
    text-decoration: none;
    margin-right: 10px;
    font-size: 13px;
}

.footer-last{
    color: #AAAAAA;
    flex-wrap: wrap;
    padding-bottom: 40px;
    text-align: center;
}

.footer-last span{
    text-align: center;
  display: block;
  padding-left: 4px;
  padding-bottom: 4px;
}

@media (min-width: 768px){
    .footer-last span {
       display: inline;
    }
}

.footer-legal-logoTNW, .footer-legal-logoStackPath {
    display: inline-block;
    height: 9px;
    margin-right: 1px;
    vertical-align: baseline;
}

span b{
    color: #f42;
}

#pepe-list{
    margin:0;
}

#important-news{    
    height: 90vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;   
}

#important-news>div{
    margin: 5px;
}

#img-main>span {
    margin:10px;    
}



#img-main>img.logo{
    display: none;
    width: 50%;
}

@media only screen and (min-width: 1024px) {
    #img-main>img.logo{
        display: block;
        position: absolute;
        right: 24px;
        left: 24px;
        max-width: 50%;
        height: 100%;
        max-height: 112px;
        line-height: 1;
        top: 24px;
        pointer-events: none;
        text-align: right;
        
    }
}

@media only screen and (min-width: 768px) {
    #important-news {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 2fr 1fr;
        height: 60vh;
    }
    #img-main {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    #img1 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    #img2 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    #img-main>section>h2>a {
        font-size: 40px;
    }
    
}

@media only screen and (min-width: 1024px) {
    #important-news {
        height: 70vh;
    }
    

    #img-main>section>h2>a {
        font-size: 52px;
    }

    #img-main>span{
        position: absolute;       
        top:0;      
        color: white;
        font-size: 10vw;   
    }
    #img-main>span.top-right {
        right:0;
        font-size: 17px;        
    }
}


#important-news>div {
    display: block;
}

#img-main{
   
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
            ),
        url(../img/google-algorithm-fade-ss-1920-800x450-796x448.jpg);   
    background-size: 100% 100%;
    background-position: center;  
    background-repeat: no-repeat;    
    grid-row-start:1;  
    position:relative;    
}

@media only screen and (min-width: 1024px) {
    #img-main {
        background:
            url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png),
            url(../img/google-algorithm-fade-ss-1920-800x450-796x448.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}




#img1 {
    grid-row-start: 2;
    background: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
        ),
        url(../img/activision-blizzard.jpg);    
}

#img2 {
    grid-row-start: 3;
    background: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
        ),
    url(../img/2019-04-17\ 20_14_14-6\ sure-fire\ areas\ of\ concern\ for\ startups\ dead-set\ on\ rapid\ growth\ -\ Brave.png);
}

#img1,
#img2 {
    position: relative;
    /* background-color: beige; */
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width: 1024px) {
    #img1 h2>a {
        font-size: 28px;
    }
    #img2 h2>a {
        font-size: 29px;
    }
}

.cover-header{    
    position:absolute;
    bottom:0;
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;    
}
.cover-header *{
    text-decoration: none;
}
.cover-header>h5>a,
.cover-header>h2>a
{
    color:white;
}
.cover-header>ul>li>a,
.cover-header>ul>li>time,
.cover-header>ul>li
{
    color: rgba(255,255,255,0.6);
}
.cover-header>h5>a{
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Ropa Sans', sans-serif;    
}

.cover-header>h2>a{
    font-family: 'Quicksand',sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

ul.cover-byline>li{
    float:left;
    margin-right: 10px;
    font-family: 'Sniglet', cursive;
    font-size: 14px;
}
ul.cover-byline::after{
    content:"";
    clear:both;
    display:table;
}

ul.cover-byline {
    padding-top:10px;    
}


/*end imporant news*/

.investments{
    width: 100%;
    padding: 15px;
}

.investments a.orange-avalon,
.investments .options>a {
    display: block;
    line-height: 40px;    
}

@media only screen and (min-width: 1024px) {
    .investments .container1 {
        display: flex;
        justify-content: space-between;
    }
}

.investments a.orange-avalon{
    font-size: 25px;    
    font-weight: bolder;  
    line-height: 60px;
}

.investments .options>a {
    font-weight: lighter;
    font-size: 14px;
    line-height: 30px;
}

.orange-avalon{
    color: rgb(255, 68, 34);
    font-family: 'Avalon';
}

.investments .container{
    width: 100%;
    margin-top: 20px;
}
.investments .container>div:nth-child(1){
    background-color: rgb(255, 68, 34);
}
.investments .container>div:nth-child(2) {
    background-color: rgba(255, 68, 34, .08);
}

.investments .container>div:nth-child(1) {
    font-size: 18px;
    color:white;
    font-weight: 700;
    line-height: 1.25;
}

.investments .subtitle>div:nth-child(1) {
    font-size: 18px;    
}

.investments>.subtitle>div:nth-child(2) {
    font-size: 11px;
}

.ars-maquete{
    font-family: 'SFFlorencesans'    
}

.investments .container>div:nth-child(-n+2){
    padding: 10px 16px 10px 84px;
    font-weight: bold;
}

.investments .subtitle>div:nth-child(2) {
    font-size: 11px;
    font-family: 'Shentox', sans-serif;
    font-weight: 500;
    letter-spacing: .04em;
    line-height: 1.5;
}

.investments .container {
    position: relative;
}

.investments .container>img {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;    
    margin: 11px;
}

.clasification{
    padding: 11px;
    border-bottom: 1px solid rgba(255, 68, 34, .25);
}

.clasification span{
    font-size:13px;
    font-family: 'SFFlorencesans';
    font-weight: lighter;
    line-height: 30px;
    color: rgb(85, 85, 85);
}

.clasification>div:nth-child(3){    
    padding:20px;
}

.footer-1{
    padding: 10px 16px 16px 16px;
}

.footer-1>span {
    font-size:13px;
    font-family: 'SFFlorencesans';
    font-weight: lighter;
    line-height: 30px;
    color: rgb(85, 85, 85);
}

.hide{
    display: none;
}

@media only screen and (min-width: 768px) {    
    .investments .ortencio{
        display: flex;
        flex-direction: row;
    }
    .investments .container {
        margin: 0 10px;
    }
    .investments .options>a{
        display: inline-block;
        margin-bottom: 20px;
        font-size: 16px;
    }    
}

@media only screen and (min-width: 1024px) {
    
    .investments .options{
        display: inline;
    }
    .investments .container {
        margin: 0 10px;
    }    
}

@media only screen and (min-width: 1024px) {
    .hide {
        display: block;
    }
    .investments .options{
        padding-top: 15px;
        display: flex;
        flex-direction: row;
    }
}

.investments .separator{
    display: none;
}

@media only screen and (min-width: 780px) {
    .investments .separator1 {
        display: inline;
        margin: 7px 8px 0 8p    x;      
        color: rgb(255, 68, 34);
        font-weight: bolder;
    }
}

/*end investments*/

.categories{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px){
    .categories::after {
        content: "";
        clear: both;
        display: table;
    }
}

.categories .module{
    padding: 20px;
}

@media only screen and (min-width: 768px) {
    .categories .module {
        float: left;
        width:50%;
    }
}
@media only screen and (min-width: 1024px) {
    .categories .module {        
        width: 33.33%;
    }
}

.categories .title1{
    font-weight: bolder;
    font-size: 28px;    
}

.categories .module>h2{
    margin-bottom: 14px;
}

.categories .container{   
    height: 400px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
        ),
        url("../img/categories/dropbox-google-cloud-header-e1554857290378-796x401.png");
    position: relative;
}
@media only screen and (min-width: 768px) {
    .categories .container {
        height: 30vw;        
    }
}

@media only screen and (min-width: 1024px) {
    .categories .container {
        height: 20vw;
    }
}

.categories .text{   
    position: absolute;
    bottom: 0; 
    margin: 15px;
    color: white;
}

.categories h1{
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Ropa Sans', sans-serif;
}

.categories h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.categories .t3 {
    font-family: 'Sniglet', cursive;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

.categories .subtitle1{
    margin: 0;
    background-color: rgba(255, 68, 34, 0.06);
}

.categories .subtitle1 img{
    float:right;
}

.categories .subtitle1 div {
    padding: 10px 14px ;
}

.categories .subtitle1 div>h2{
    font-size: 14px;
}

.categories .subtitle1::after{
    content: "";
    clear: both;
    display: table;    
}

.categories ul li::before {
    content: "\2022";
    color: rgb(255, 68, 34);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.categories li{
    padding: 10px 0 10px 14px;
    border-bottom: 1px solid rgba(85, 85, 85, .2);
    font-family: 'SFFlorencesans';
    font-size: 13px;
    color: rgb(85, 85, 85)
}


/*end categories*/
@font-face {
    font-family: 'Halo';
    src: url(../fonts/HALO.TTF);
}

@font-face {
    font-family: 'Hooked';
    src: url(../fonts/hooked.ttf);
}

@font-face {
    font-family: 'Avalon';
    src: url(../fonts/avalon.ttf);
}

/*<alternativas>* ARS Maquette, [nombre de otra fuente]*/
@font-face {
    font-family: 'SFFlorencesans';
    src: url(../fonts/SFFlorencesans/SFFlorencesans.ttf);
}
/*</alternativas>*/

@font-face {
    font-family: 'Shentox';
    src: url(../fonts/Shentox/Shentox.ttf);
}


/*end fonts*/
