/*SET-UP*/
*, *::after, *::before{
    box-sizing: border-box;
}
/*END SET-UP*/

/*HELPERS*/

.flex-container{
    display:flex;
}

/*END HELPERS*/

/*HEADER (NAVS)*/

header{
    background-color: yellow;
}

.header-navs{    
    width: 100%;
}

.header-logo{
    /* width: 106px; */
     min-width: 106px;
    height: 48px;
    /*max-height: 48px;*/
    overflow: hidden;
}

.header-logo .logo-2{
    display: block;
}

.header-logo .logo-1{
    display: none;
}

@media only screen and (min-width: 768px) {
    .header-logo{
        height: 80px;
    }

    .header-logo .logo-2{
        display: none;
    }
    
    .header-logo .logo-1{
        display: block;
    }
}

.nav-business{
    background-color: black;
    color: white;
    width: 100%;
    display: none;
    line-height: 40px;
    font-family: 'Oswald', sans-serif;
}

@media only screen and (min-width: 768px) {
    .nav-business{
        display: block;
    }
}

.nav-business > ul > li{
    display: inline-block;
}


.header-menu{
    width: 100%;
    background-color: white;
    height: 48px;
}

/*END HEADER (NAVS)*/

.cover{
    height: 20vh;
    background-color: aquamarine
}

.wrapper{
    height: 80vh;
    background-color: red;

    padding: 0px 20px;
    max-width: 1192px;
    margin: 0 auto;
}





footer{
    height: 20vh;
    background-color: pink;
    
}

@media only screen and (min-width: 780px) {
    /*Barra negra aparece hasta el infinito*/
}
